@import 'src/global.scss';

.imageView {
  position: relative;
  border: 1px solid transparent;

  &.groundTruth,
  &.compare {
    margin-bottom: 12px;
  }

  &.groundTruth {
    border: 1px solid #ffc272;
  }

  &.compare {
    border: 1px solid #90caf9;
  }

  &.smallSize {
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .image {
    &.smallSize {
      img {
        width: 125px;
      }
    }

    img {
      width: 400px;
    }
  }

  &:hover {
    .caption,
    .labelTag {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
    }
  }

  .caption {
    padding: 10px;
    text-align: left;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    right: 0;

    .copyToClipboard {
      @include touchableOpacity(3px);
    }
  }

  .labelTag {
    position: absolute;
    top: 0;
    right: 0;
    background: #333333;
    border-bottom-left-radius: 5px;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
    .copyToClipboard {
      margin-right: 5px;
    }
  }
}
